.survey-form-field {
  background-color: red;
  font-weight: 800!important;
  text-align:left;!important
}

.live-form-content {
  background-color: red;
}

textarea {
  background-color: black!important;
}
  
#kampyleForm5926 {
  font-weight: 1000;
  background-color: yellow!important;
}
