.survey-form-field {
  background-color: red;
  font-weight: 800;
  
}

.live-form-content {
  background-color: red;
}

textarea {
  background-color: black;
}
  
#kampyleForm5926 {
  font-weight: 1000;
  background-color: yellow;
}
