.app {
  text-align: center;
  max-width: 1000px;
  padding: 50px 10px;
  margin: auto;
}
.flex {
  display: flex;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.centered {
  text-align: center;
}
.left {
  text-align: left;
}
.bold {
  font-weight: bold;
}
.progress-bar {
  margin: 30px 0;
}
.current-step {
  background-color: gray;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid green;
}

.stepbar {
  border: 1px solid gray;
  width: 33%;
  max-width: 300px;
  padding: 10px;
}

.session-container {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width:768px) {
  .session-container {
    width: 600px;
  }
  .app {
    padding: 50px 50px;
  }
  .name-field {
    display: flex;
  }
  .first-name {
    width: 30%;
    margin-right: 5%;
  }
  .last-name {
    width: 65%;
  }
}


.session {
  /* max-width: 500px; */
  border: 1px solid black;
  padding: 20px;
}

fieldset {
  border: none;
}

.strikethrough, .disabled-radio {
  text-decoration: line-through
}

div.react-datepicker__day
{
  width: 3rem;
}
.form-body {
  flex-direction: column;
  align-items: center;
  padding: 30px;
    text-align: left;
}

/* Step 2 */
.text-input {
  padding: 5px 10px;
  width: 95%;
  border-radius: 3px;
  border: 1px solid gray;
}

.demographics {
  padding: 10px 0;
}

.line-input {
  margin: 20px 0;
}

.field-label {
  font-weight: 500;
}

.error {
  color: red;
}

.line-input-error {
  background-color: rgb(238, 195, 195);
  border-radius: 3px;
  padding: 5px 10px;
}
