.App {
  text-align: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.centered {
  text-align: center;
}
.current-step {
  border-bottom: solid black;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid green;
}

.stepbar {
  border: 1px solid gray
}